<div class="workflow">
    <div class="container">
        <div class="workflow-header" style="display: flex;justify-content: space-between;">
            <div>
                <form [formGroup]="searchForm" class="example-form" (ngSubmit)="searchSubmit(searchForm.value)">
                    <mat-form-field appearance="outline">
                        <mat-label>Search Workflow</mat-label>
                        <input matInput placeholder="Placeholder" formControlName = "search">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Filters" formControlName = "filter">
                            <mat-option value="all">All</mat-option>
                            <mat-option value="completed">Completed</mat-option>
                            <mat-option value="pending">Pending</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button type="submit" mat-raised-button color="warn">Apply</button>
                    <mat-icon matSuffix (click)="clearFilter()" style="vertical-align: middle;margin-left: 10px;cursor: pointer;">close</mat-icon>
                </form>
            </div>
            <button mat-raised-button color="primary" (click)="addWorkflow()" style="height: 50px;"> + Create Workflow</button>
        </div>
        <div class="workflows">
            <h2>Workflow list</h2>
            <div *ngIf="workflows.length;else blankUI">
                <div class="card" *ngFor="let item of workflows; let i = index">
                    <mat-icon color="warn" (click)="removeWorkflow(i)" style="cursor: pointer;float: right;font-size: 36px;" matSuffix>delete_forever</mat-icon>
                    <h3>{{item.name | titlecase}}</h3>
                    <h4>{{item.stage | titlecase}} <mat-icon [ngClass]="(item.stage =='pending') ? 'pending-icon':'completed-icon'" (click)="changeState(item)" matSuffix>check_circle</mat-icon></h4>
                    <button mat-mini-fab  color="primary" (click)="editWorkflow(i)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
            <ng-template #blankUI>
                <p>We dont have any workflows yet. Add  first</p>
            </ng-template>
        </div>
    </div>
</div>